{
  "presets": [["env", {"modules": false}], "stage-0", "react"],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "test": {
      "presets": [["env", {"modules": false}], "stage-0", "react"],
    }
  },
  "extends": "react-static/.babelrc",
  "plugins": ["babel-plugin-styled-components"]
}
